/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

/*
//////////////////////
    HEADER
/////////////////////
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c2431;
    padding: 6.4rem;
}

.main-logo img {
    width: 12.4rem;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 4.4rem;
}

.nav-item {
    font-size: 1.4rem;
}

/*
//////////////////////
    HERO SECTION
/////////////////////
*/

.section-hero {
    padding-bottom: 19rem;
    width: 100%;
    background-color: #1c2431;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.container {
    max-width: 72rem;
    margin: 0 auto;
    text-align: center;
}

.hero-img {
    margin-bottom: 4.4rem;
    width: 80%;
}

.heading-primary {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
    line-height: 1.1;
}

.hero-text {
    font-size: 1.8rem;
    max-width: 56rem;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 3.2rem;
}

.btn {
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem 7.4rem;
    border-radius: 1000px;
    background: linear-gradient(to right, #65e2d9, #339ecc)
}

/*
//////////////////////
    FEATURES SECTION
/////////////////////
*/

.section-features {
    background-color: #181f2a;
    padding-bottom: 9rem;
}

.features-container {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    gap: 6.4rem;
}

.grid--cols--2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-logo {
    width: 7rem;
    margin-bottom: 2.4rem;
}

.security-logo {
    width: 5rem;
}

.heading-secondary {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.feature-text {
    font-size: 1.4rem;
    max-width: 31rem;
    line-height: 1.5;
    margin: 0 auto;
}

/*
//////////////////////
   PRODUCTIVE SECTION
/////////////////////
*/

.section-productive {
    background: #181f2a;
    padding: 8rem 0;
}

.main-container {
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.content {
    padding: 2rem 4rem;
}

.productive-img {
    width: 80%;
    margin: auto;
}

.productive-text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 2.4rem;
}

.productive-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #65e2d9;
    padding-bottom: 2px;
    border-bottom: 1px solid #65e2d9;
}

/*
//////////////////////
  TESTIMONIAL SECTION
/////////////////////
*/

.grid--cols--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}